<div class="card" ng-controller="myCtrl">
    <div class="card-body">
        <div class="container">
            <h3>Bina Bilgileri</h3><br>
            <div class="row">
                <div class="col">
                    <h6  style="color:green" class="my-1 h5" >Bina Numarası:</h6>
                    <select ng-model="BinaId" class="col form-control">
                        <option selected>Numara Seçiniz..</option>
                        <option value="{{value.BinaId}}" ng-repeat="value in BinaListesi">{{value.BinaNumarasi}}</option>
                    </select>
                </div>
                <br>
                <div class="col"></div>
                <form>
                    <h6 style="color:green" class="my-1 h5">Oda Numarası:</h6>
                    <input type="text" class="form-control" name="Odanumarasi" ng-model="OdaNumarasi">

                </form>
                <br>
                <div class="col"></div>
                <form>
                    <h6 style="color:green" class="my-1 h5">Yatak Sayısı:</h6>
                    <input type="text" class="form-control" name="Yataksayisi" ng-model="YatakSayisi">
                </form>


                <div class="col">
                    <div ng-show="!b" class="container" style="text-align: right;">
                        <button type="button" class="mt-4 btn btn-primary" ng-click="ekle2()"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Kaydet
                        </button>
                    </div>
                </div>
            </div><br>
            <div ng-show="b" class="container" style="text-align: right;">
                <button type="button" class="btn btn-primary" ng-click="guncelle(a)"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Düzenle
                </button>
            </div>
        </div>
    </div>
    <div class="card col-sm-6" style=" margin: 0 auto; float: none; margin-bottom: 10px;">
        <div class="card-body">
            <table class="table table-striped table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>
                            <li>BinaNumarası</li>
                        </th>
                        <th>
                            <li>Oda Numarası</li>
                        </th>
                        <th>
                            <li>Yatak Sayısı</li>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in OdaListesi">
                        <td>
                            {{value.BinaNumarasi}}
                        </td>
                        <td>
                            {{value.OdaNumarasi}}
                        </td>
                        <td>
                            {{value.YatakSayisi}}
                        </td>
                        <td>
                            <a href="" class="btn btn-warning" ng-click="duzenle(value)">Düzenle</a>
                            <a href="" class="btn btn-danger" ng-click="sil(value)">Sil</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>